timm==0.9.1
scikit-image==0.15.0
scikit-learn==0.24.2
opencv-python==4.5.5.64
hydra-core==1.3.2
openmim==0.3.6
mmcv-full==1.7.1
mmsegmentation==0.29.1
torch==1.12.1+cu113
torchvision==0.13.1
tokenizers==0.11.1
Pillow~=9.5
detectron2 #Following https://detectron2.readthedocs.io/en/latest/tutorials/install.html
